body{


    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
.linux {
    position: relative;
    width: 300px;
    border-radius: 50px; /*makes the pic rounder*/
   /* float: left;*/
    margin-right: 10px;
    top: 0px;
    left: 400px;
  }
  p {
    /*this put style on paragraph */
    position: relative;
    top: 500x;
    left: 500px;

    font-size: large;
    font-weight: bold;
  }
  bold {
    width: 10px;
  }